VITE_BACKEND_URL=https://lecture-ai-tutor-backend.onrender.com/prepare-learning
VITE_FIREBASE_API_KEY=your_firebase_api_key
VITE_FIREBASE_AUTH_DOMAIN=lecture-ai-tutor.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=lecture-ai-tutor
VITE_FIREBASE_STORAGE_BUCKET=lecture-ai-tutor.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=429832397145
VITE_FIREBASE_APP_ID=1:429832397145:web:fb1e9da566ac272bd32c48
